.schoolboardButton{
	-fx-background-color: grey;
	-fx-background-radius: 12;
	-fx-border-width: 2;
	-fx-border-radius: 10;
	-fx-pref-width: 105;
	-fx-pref-height: 36;
	-fx-font-size: 16;
	-fx-text-fill: white;
	-fx-alignment: center;
	-fx-cursor: hand;
}

.schoolboardButton:hover{
	-fx-background-color: darkGrey;
}

.schoolboardButton:disabled{
	-fx-background-color: black;
}

.username{
	-fx-font-size: 16;
	-fx-text-fill: white;
	-fx-alignment: center;
}

.piece{
	-fx-effect: dropshadow(gaussian, #000000, 10, 0, 0.0, 0.0);
}

.borderedText{
	-fx-font-size: 30;
	-fx-fill: white;
	-fx-font-weight: bold;
	-fx-stroke: black;
	-fx-stroke-width: 1;
}

#characterPane{
	-fx-background-color: #FEF9A7;
	-fx-border-color: #FAC213;
	-fx-background-radius: 25;
	-fx-border-width: 10;
	-fx-border-radius: 20;
}

#characterDescriptionPane{
	-fx-border-color: #FAC213;
	-fx-border-width: 4;
	-fx-border-radius: 5;
}

#activateCharacterButton{
	-fx-background-color: #FAC213;
	-fx-cursor: hand;
}

#activateCharacterButton:hover{
	-fx-background-color: #F77E21;
}

#colorSelectionPane{
	-fx-background-color: #FEF9A7;
	-fx-border-color: #FAC213;
	-fx-background-radius: 25;
	-fx-border-width: 10;
	-fx-border-radius: 20;
}

.colorOption:hover{
	-fx-effect: Glow;
}